{% extends "base.html" %}


{% block content %}

<h1><center>TimeCardKnight Student</center></h1>

<head>
<title>Log in</title>

</head>
<body>
	{{ state }}
	<form method="post">
	{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		
		Student Number:
		<input type="text" name="username" value="{{ number}}" /><br />
		
		Department:
		<select name="department">
			<ul>
				{% for user in department_list %}
					<option> {{ user.department }}</option>
				{% endfor %}
			</ul>
		</select></br>
		<input type="submit" value="Clock In" onclick="this.form.action='/clockin/'"/>
		<input type="submit" value="Clock Out" onclick="this.form.action='/clockout/'"/>
	</form>
</body>

 <!-- {% if(User.clockIn is True):
	#	script = "<script>alert('%s is now Clocked In')</script>" % User.first_name-->


{% endblock %}