{% extends "base.html" %}


{% block content %}

<h1><center>TimeCardKnight Student</center></h1>

<head>
<title>Log in</title>

</head>
<body>
	{{ state }}
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}</br>
		{% endfor %}
		<input type="submit" value="Clock In"onclick="this.form.action='/clockIn/'"/>
		<input type="submit" value="Clock Out"onclick="this.form.action='/clockOut/'"/>
	</form>
</body>

 <!-- {% if(User.clockIn is True):
	#	script = "<script>alert('%s is now Clocked In')</script>" % User.first_name-->


{% endblock %}
