{% extends "base.html" %}


{% block content %}
Logged in as manager.</br>

{{ state }}</br>

Welcome, {{username}}.

    <div class="container">

<!-- THIS VIEW SHOULD NOT BE A VALID URL!!!! --> 
      <form action="/timecards/" method="get">
        {% csrf_token %}        
        <button class="btn btn-large btn-primary" type="submit">Generate Time Cards</button> </br>
       </form>
       
        <form action="/reports/" method="get">
        {% csrf_token %}        
        <button class="btn btn-large btn-primary" type="submit">Generate Reports</button> </br>
       </form>
       

       <form action="/logout/" method="post">
       <button class="btn btn-large btn-primary" type="submit">Logout</button> </br>
		</form>
       
{% endblock %}

